<section>
  <div class="main">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="main-txt">
          <h2 class="text-white-50 mt-2">Buy more , Save more.</h2>
          <h1 class="text-primary mt-5">Pay Less When You Buy More Tickits</h1>
        </div>
        <div class="mt-5">
          <button class="btn main-btn mt-5 me-5">BOOK NOW</button>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="container mt-5 d-flex flex-column justify-content-center">
        <div class="links mt-5">
          <ul
            class="navbar-nav mt-5 d-flex fw-bolder flex-row m-auto mb-2 mb-lg-0"
          >
            <li class="nav-item">
              <a class="nav-link me-2" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2" href="#">Travels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-2" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cards d-flex flex-row justify-content-center">
      <div class="maincard">
        <p class="text-black-50">Leaving From</p>
        <h1>CAI</h1>
        <p class="fw-bolder">cairo</p>
      </div>
      <div class="maincard">
        <p class="text-black-50">Going to</p>
        <h1>CAI</h1>

        <p class="fw-bolder">Select City</p>
      </div>
      <div class="maincard">
        <p class="text-black-50">Departure Date</p>
        <div id="line"></div>
        <p class="text-black-50">Return</p>
      </div>
      <div class="maincard">
        <p>CAI</p>
        <h2 class="text-white">search fight</h2>
      </div>
    </div>
  </div>
</section>
